body,html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body .secondcontainer {
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

.menu {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#b10c4b;
}

.logo {
    float: left;
    position: absolute;
    font-size: 1.5em;
    height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
  } 

.menu a {
    float: right;
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.submenu {
    float: right;
    overflow: hidden;
}

.submenu .submenu1btn,
.submenu .submenu2btn,
.submenu .submenu3btn,
.submenu .submenu4btn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    top: 45px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.menu a:hover,
.submenu:hover .submenu1btn,
.submenu:hover .submenu2btn,
.submenu:hover .submenu3btn,
.submenu:hover .submenu4btn {
    background-color: black;
}

.homepage {
    background-color: white;
}

.submenucont {
    display: none;
    position: fixed;
    right: 0;
    background-color: black;
    width: 100%;
    z-index: 1;
}

.submenucont a {
    float: right;
    color: white;
    text-decoration: none;
}

.submenucont a:hover {
    background-color: rgb(192, 3, 3);
    color: white;
}

.submenu:hover .submenucont {
    display: block;
}

h1, h2, h3 {
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    position: center;
    justify-content: center;
    overflow: auto;
}

a {
    color: cyan;
}

p {
    width: auto;
    color: white;
    background-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

button {
    display: flex;
    float: center;
    background: transparent;
    color: white;
    border: none;
    margin: auto;
    align-items: center;
}

.hometext {
    background-color: black;
    overflow: hidden;
}

.footer {
    width: 100%;
    margin: 0;
    overflow: hidden;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: #b10c4b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.split {
    height: auto;
    width: 100%;
    display: flex;
}

.top {
    left: 0;
    padding: 20px;
    background-color: #ad3e72;
    box-sizing: border-box;
}

.bottom {
    right: 0;
    padding: 20px;
    background-color: red;
    box-sizing: border-box;
}

.top,
.bottom {
      flex: 1;
      overflow: hidden;
      box-sizing: border-box;
}